@model LDAPAuthentication.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="row">
    <div class="col-lg-4 offset-lg-4">
        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username", required = "required" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "required" })
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        }
    </div>
</div>